.content {
    width: 50%;
    margin: 0 auto;
}

.player {
    width: 80%;
}

.player audio {
    width: 100%;
}

.player button {
    margin: 0 auto;
}

.duration {
    float: left;
}

.player-content {
    height: 45px;
}

.player-content * {
    display: inline;

}

/*.player .play:before{
    content: '\f04b';
}*/
/*.player .play {
    border-color: black;
    height: 100%;
    display: block;
    width: 5%;
}*/

.file-source {
  height: 35px;
}

.file-title {
  position: relative;
  top: 25%;
}

.file-path {
  display: none;
}